apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-krezh-config
  namespace: default
data:
  bookmarks.yaml: |
    ---
    - Developer:
        - Github:
            - abbr: GH
              href: https://github.com
        - Doppler:
            - abbr: DP
              href: https://dashboard.doppler.com
    - Plexuz:
        - Logout:
            - abbr: LO
              href: https://homepage.plexuz.xyz/outpost.goauthentik.io/sign_out
  kubernetes.yaml: |
    ---
    mode: cluster
    ingress: true
    gateway: true
  services.yaml: |
    ---
    - Servers:
        - Jotunheim:
            href: https://jotunheim.srv.plexuz.xyz
            icon: truenas-scale.png
            widget:
              type: truenas
              url: https://jotunheim.srv.plexuz.xyz
              key: "{{HOMEPAGE_VAR_TRUENAS_APIKEY}}"
              enablePools: true
        - PiKVM:
            href: https://pikvm.lan.plexuz.xyz
            icon: pikvm.png
        - Mikrotik:
            href: https://192.168.1.35/
            icon: mikrotik.png
    - Calendars:
        - Calendar:
            widget:
              type: calendar
              firstDayInWeek: monday
              showTime: true
              integrations:
                - params:
                    unmonitored: false
                  service_group: Media
                  service_name: Sonarr
                  type: sonarr
                - params:
                    unmonitored: false
                  service_group: Media
                  service_name: Radarr
                  type: radarr
  settings.yaml: |
    ---
    instanceName: krezh
    disableUpdateCheck: true
    cardBlur: sm
    color: zinc
    fiveColumns: true
    headerStyle: boxedWidgets
    target: _self
    layout:
      - Servers:
          header: false
          columns: 4
          style: row
      - Calendars:
          header: false
          columns: 2
          style: column
      - Media:
          header: false
          columns: 1
          style: column
      - Downloads:
          header: false
          columns: 1
          style: column
      - Tools:
          header: false
          columns: 1
          style: column
      - Monitoring:
          header: false
          columns: 1
          style: column
  widgets.yaml: |
    ---
    - kubernetes:
        cluster:
          cpu: true
          label: cluster
          memory: true
          show: true
          showLabel: true
        nodes:
          cpu: true
          memory: true
          show: true
          showLabel: true
    - unifi_console:
        url: https://unifi-controller.default.svc.cluster.local:8443
        username: "{{HOMEPAGE_VAR_UNIFI_USER}}"
        password: "{{HOMEPAGE_VAR_UNIFI_PASS}}"
        #site: Site Name # optional
