---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  TIMEZONE: Europe/Stockholm
  CLUSTER_NAME: DexTek
  CONTROLPLANE_ENDPOINT: 192.168.25.20
  NAS_FAST: jotunheim.fast.internal
