---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-settings
  namespace: flux-system
data:
  TIMEZONE: Europe/Stockholm
  CLUSTER_NAME: DexTek
  CONTROLPLANE_ENDPOINT: talos.k8s.plexuz.xyz
  NAS_FAST: jotunheim.fast.internal
