---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./namespace.yaml
  - ../../../shared/templates/flux
  - ./cyberchef
  - ./redbot
  - ./home-assistant
  - ./homepage
  - ./ntfy
  - ./plex
  - ./tautulli
  - ./atuin
  - ./echo-server
  - ./mealie
  - ./it-tools
  - ./changedetection
  - ./zipline
  - ./jellyfin
  - ./publish-k8s-schemas
  - ./karakeep
  - ./wakapi
  - ./tracearr
transformers:
  - |-
    apiVersion: builtin
    kind: NamespaceTransformer
    metadata:
      name: not-used
      namespace: default
    unsetOnly: true
