---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-stack
  namespace: flux-system
spec:
  path: ./clusters/dextek/system/monitoring/kube-prometheus-stack/app
  prune: true
  sourceRef:
    kind: GitRepository
    name: dextek
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/kustomization-kustomize-v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: kube-prometheus-rules
  namespace: flux-system
spec:
  dependsOn:
    - name: kube-prometheus-stack
  path: ./clusters/dextek/system/monitoring/kube-prometheus-stack/rules
  prune: true
  sourceRef:
    kind: GitRepository
    name: dextek
  wait: true
  interval: 30m
  retryInterval: 1m
  timeout: 5m
