apiVersion: v1alpha1
kind: UnattendedInstallConfig
installer:
  image: {{ .Data.factoryRepoUrl }}/metal-installer/{{ .SchematicID }}:{{ .TalosVersion }}
provisioning:
  diskSelector:
    match: disk.serial == "S435NC0R704060"
  wipe: false
