---
apiVersion: volsync.backube/v1alpha1
kind: ReplicationDestination
metadata:
  name: {{ ENV.APP }}-dst
  namespace: {{ ENV.NS }}
  labels:
    kustomize.toolkit.fluxcd.io/ssa: IfNotPresent
spec:
  trigger:
    manual: restore-once
  kopia:
    accessModes:
      - {{ ENV.ACCESS_MODES }}
    cacheAccessModes:
      - ReadWriteOnce
    cacheCapacity: {{ ENV.CACHE_CAPACITY }}
    cacheStorageClassName: {{ ENV.CACHE_STORAGE_CLASS_NAME }}
    capacity: {{ ENV.CAPACITY }}
    cleanupCachePVC: true
    cleanupTempPVC: true
    copyMethod: Snapshot
    enableFileDeletion: true
    moverSecurityContext:
      fsGroupChangePolicy: OnRootMismatch
      runAsUser: {{ ENV.PUID }}
      runAsGroup: {{ ENV.PGID }}
      fsGroup: {{ ENV.PGID }}
    moverVolumes:
      - mountPath: repository
        volumeSource:
          nfs:
            path: /mnt/tank/kopia
            server: jotunheim.fast.internal
    repository: {{ ENV.APP }}-volsync-secret
    sourceIdentity:
      sourceName: {{ ENV.APP }}
    storageClassName: {{ ENV.STORAGE_CLASS_NAME }}
    volumeSnapshotClassName: {{ ENV.SNAPSHOT_CLASS_NAME }}
