alertmanager:
  config:
    global:
      resolve_timeout: 5m
    route:
      group_by: ["alertname", "job"]
      group_interval: 10m
      group_wait: 1m
      receiver: pushover
      repeat_interval: 12h
      routes:
        - receiver: "null"
          matchers:
            - alertname =~ "InfoInhibitor|Watchdog"
        - receiver: pushover
          continue: true
          matchers:
            - severity = "critical"
    receivers:
      - name: "null"
      - name: pushover
        pushover_configs:
          - token: "${SECRET_PUSHOVER_ALERT_MANAGER_APIKEY}"
            user_key: "${SECRET_PUSHOVER_USERKEY}"
            send_resolved: true
            html: true
            priority: |-
              {{ if eq .Status "firing" }}1{{ else }}0{{ end }}
            url_title: View in Alert Manager
            title: >-
              [{{ .Status | toUpper }}{{ if eq .Status "firing" }}:{{ .Alerts.Firing | len }}{{ end }}]
              {{ .CommonLabels.alertname }}
            message: |-
              {{- range .Alerts }}
                {{- if ne .Annotations.description "" }}
                  {{ .Annotations.description }}
                {{- else if ne .Annotations.summary "" }}
                  {{ .Annotations.summary }}
                {{- else if ne .Annotations.message "" }}
                  {{ .Annotations.message }}
                {{- else }}
                  Alert description not available
                {{- end }}
                {{- if gt (len .Labels.SortedPairs) 0 }}
                  <small>
                  {{- range .Labels.SortedPairs }}
                    <b>{{ .Name }}:</b> {{ .Value }}
                  {{- end }}
                  </small>
                {{- end }}
              {{- end }}
  ingress:
    enabled: true
    pathType: Prefix
    ingressClassName: internal
    annotations:
      gethomepage.dev/enabled: "true"
      gethomepage.dev/name: "Alert Manager"
      gethomepage.dev/instance: "krezh"
      gethomepage.dev/group: "Monitoring"
      gethomepage.dev/icon: "alertmanager.png"
      gethomepage.dev/pod-selector: >-
        app.kubernetes.io/instance in (
          {{ .Release.Name }}
        )
        app.kubernetes.io/name in (
          alertmanager
        )
    hosts:
      - &host alertmanager.talos.plexuz.xyz
    tls:
      - hosts:
          - *host
  alertmanagerSpec:
    replicas: 3
    useExistingSecret: false
    #configSecret: alertmanager-secret
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: ceph-block
          resources:
            requests:
              storage: 1Gi
