apiVersion: kustomize.config.k8s.io/v1beta1
components:
- ../../../../../shared/components/volsync
kind: Kustomization
namespace: default
patches:
- patch: |-
    apiVersion: helm.toolkit.fluxcd.io/v2
    kind: HelmRelease
    metadata:
      name: _
    spec:
      install:
        crds: CreateReplace
        strategy:
          name: RetryOnFailure
      rollback:
        cleanupOnFail: true
        recreate: true
      upgrade:
        cleanupOnFail: true
        crds: CreateReplace
        strategy:
          name: RemediateOnFailure
        remediation:
          remediateLastFailure: true
          retries: 2
  target:
    group: helm.toolkit.fluxcd.io
    kind: HelmRelease
resources:
- ./externalsecret.yaml
- ./helmrelease.yaml
- ./ocirepository.yaml
