---
apiVersion: v1
kind: ConfigMap
metadata:
  name: forgejo-init-scripts
  namespace: default
data:
  configure-forgejo.sh: |
    #!/usr/bin/env bash
    set -euo pipefail

    echo '==== BEGIN FORGEJO CONFIGURATION ===='

    # Wait for database and run migrations
    {
      forgejo migrate
    } || {
      echo "Forgejo migrate might fail due to database connection...This init-container will try again in a few seconds"
      exit 1
    }

    # Configure OAuth
    function configure_oauth() {
      local OAUTH_NAME="${FORGEJO_OAUTH_NAME}"
      local full_auth_list=$(forgejo admin auth list --vertical-bars)
      local actual_auth_table=''

      # Detect the actual auth table by its headline and trim output above that line
      local regex="(.*)(ID\s+\|Name\s+\|Type\s+\|Enabled.*)"
      if [[ "${full_auth_list}" =~ $regex ]]; then
        actual_auth_table=$(echo "${BASH_REMATCH[2]}" | tail -n+2)
      else
        echo "ERROR: 'configure_oauth' was not able to determine the current list of authentication sources."
        echo "       Please review the output of 'forgejo admin auth list --vertical-bars' shown below."
        echo "DEBUG: Output of 'forgejo admin auth list --vertical-bars'"
        echo "--"
        echo "${full_auth_list}"
        echo "--"
        exit 1
      fi

      local AUTH_ID=$(echo "${actual_auth_table}" | grep -E "\|${OAUTH_NAME}\s+\|" | grep -iE '\|OAuth2\s+\|' | awk -F " " "{print \$1}")

      if [[ -z "${AUTH_ID}" ]]; then
        echo "No oauth configuration found with name '${OAUTH_NAME}'. Installing it now..."
        forgejo admin auth add-oauth \
          --name "${FORGEJO_OAUTH_NAME}" \
          --provider "${FORGEJO_OAUTH_PROVIDER}" \
          --key "${FORGEJO_OAUTH_CLIENT_ID}" \
          --secret "${FORGEJO_OAUTH_CLIENT_SECRET}" \
          --auto-discover-url "${FORGEJO_OAUTH_AUTO_DISCOVER_URL}" \
          --scopes "${FORGEJO_OAUTH_SCOPES}" \
          --group-claim-name "${FORGEJO_OAUTH_GROUP_CLAIM_NAME}" \
          --admin-group "${FORGEJO_OAUTH_ADMIN_GROUP}" \
          --icon-url "${FORGEJO_OAUTH_ICON_URL}"
        echo '...installed.'
      else
        echo "Existing oauth configuration with name '${OAUTH_NAME}': '${AUTH_ID}'. Running update to sync settings..."
        forgejo admin auth update-oauth \
          --id "${AUTH_ID}" \
          --name "${FORGEJO_OAUTH_NAME}" \
          --provider "${FORGEJO_OAUTH_PROVIDER}" \
          --key "${FORGEJO_OAUTH_CLIENT_ID}" \
          --secret "${FORGEJO_OAUTH_CLIENT_SECRET}" \
          --auto-discover-url "${FORGEJO_OAUTH_AUTO_DISCOVER_URL}" \
          --scopes "${FORGEJO_OAUTH_SCOPES}" \
          --group-claim-name "${FORGEJO_OAUTH_GROUP_CLAIM_NAME}" \
          --admin-group "${FORGEJO_OAUTH_ADMIN_GROUP}" \
          --icon-url "${FORGEJO_OAUTH_ICON_URL}"
        echo '...sync settings done.'
      fi
    }

    configure_oauth

    echo '==== END FORGEJO CONFIGURATION ===='
