---
# Values: https://github.com/cilium/cilium/blob/main/install/kubernetes/cilium/values.yaml
cluster:
  name: dextek
  id: 1
cni:
  exclusive: false
endpointRoutes:
  enabled: true
bgp:
  enabled: false
  announce:
    loadbalancerIP: true
    podCIDR: false
bgpControlPlane:
  enabled: true
devices: bond+
pmtuDiscovery:
  enabled: true
k8sServiceHost: 127.0.0.1
k8sServicePort: 7445
rollOutCiliumPods: true
localRedirectPolicies:
  enabled: true
kubeProxyReplacement: true
kubeProxyReplacementHealthzBindAddr: 0.0.0.0:10256
loadBalancer:
  algorithm: maglev
  mode: dsr
bandwidthManager:
  enabled: true
  bbr: true
bpf:
  datapathMode: netkit-l2
  masquerade: true
  preallocateMaps: true
  tproxy: true
bpfClockProbe: true
enableIPv4BIGTCP: true
l7Proxy: true
enableRuntimeDeviceDetection: true
ipam:
  mode: kubernetes
ingressController:
  enabled: false
  loadbalancerMode: shared
operator:
  rollOutPods: true
  prometheus:
    enabled: true
    serviceMonitor:
      enabled: true
  dashboards:
    enabled: true
    annotations:
      grafana_folder: Cilium
autoDirectNodeRoutes: true
directRoutingSkipUnreachable: true
ipv4NativeRoutingCIDR: 10.244.0.0/16
routingMode: native
hubble:
  enabled: false
envoy:
  enabled: false
socketLB:
  enabled: true
  hostNamespaceOnly: true
securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - PERFMON
      - BPF
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE
prometheus:
  enabled: true
  serviceMonitor:
    enabled: true
    trustCRDsExist: true
dashboards:
  enabled: true
  annotations:
    grafana_folder: Cilium
cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup
