---
access_control:
  default_policy: deny
  networks:
    - name: internal
      networks: ["10.0.0.0/8", "172.16.0.0/12", "192.168.0.0/16"]
  rules:
    - domain:
        - "plexuz.xyz"
      subject:
        - "group:users"
      policy: one_factor
    ## Catch-all
    - domain:
        - "*.plexuz.xyz"
      subject:
        - "group:admins"
      policy: one_factor

regulation:
  max_retries: 3
  find_time: 2m
  ban_time: 5m

authentication_backend:
  password_reset:
    disable: true
  refresh_interval: 1m
  ldap:
    address: ldap://lldap:389
    implementation: custom
    timeout: 5s
    start_tls: false
    base_dn: dc=plexuz,dc=xyz
    additional_users_dn: ou=people
    users_filter: (&({username_attribute}={input})(objectClass=person))
    additional_groups_dn: ou=groups
    groups_filter: (member={dn})
    group_search_mode: filter
    user: uid=admin,ou=people,dc=plexuz,dc=xyz
    password: password
    attributes:
      username: uid
      display_name: displayName
      mail: mail
      member_of: memberOf
      group_name: cn

session:
  same_site: lax
  inactivity: 5m
  expiration: 1h
  remember_me: 1M
  cookies:
    - name: plexuz_session
      domain: plexuz.xyz
      authelia_url: https://auth.plexuz.xyz
      default_redirection_url: https://plexuz.xyz
  redis:
    host: dragonfly.databases.svc.cluster.local
    database_index: 0
    # high_availability:
    #   sentinel_name: redis-master
    #   nodes:
    #     - host: redis-node-0.redis-headless.databases.svc.cluster.local
    #       port: 26379
    #     - host: redis-node-1.redis-headless.databases.svc.cluster.local
    #       port: 26379
    #     - host: redis-node-2.redis-headless.databases.svc.cluster.local
    #       port: 26379

ntp:
  address: "192.168.20.1:123"
  version: 4
  max_desync: 3
  disable_startup_check: false
  disable_failure: false

notifier:
  disable_startup_check: true
  smtp:
    sender: Plexuz Authentication <auth@plexuz.xyz>
    disable_require_tls: false

totp:
  disable: false
  issuer: authelia.com

webauthn:
  disable: true

duo_api:
  disable: true

identity_providers:
  oidc:
    cors:
      endpoints:
        ["userinfo", "authorization", "token", "revocation", "introspection"]
      allowed_origins_from_client_redirect_uris: true
    clients:
      - client_id: grafana
        client_name: Grafana
        client_secret: "$${GRAFANA_OAUTH_CLIENT_SECRET}"
        public: false
        consent_mode: implicit # explicit, implicit, auto/default, preconfigured
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris:
          - "https://grafana.talos.plexuz.xyz/login/generic_oauth"
          - "https://grafana.plexuz.xyz/login/generic_oauth"
        userinfo_signed_response_alg: none

      - client_id: weave-gitops
        client_name: Weave GitOps
        client_secret: "$${WEAVEGITOPS_OAUTH_CLIENT_SECRET}"
        public: false
        consent_mode: implicit # explicit, implicit, auto/default, preconfigured
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris:
          - "https://gitops.talos.plexuz.xyz/oauth2/callback"
        userinfo_signed_response_alg: none

      - client_id: immich
        client_name: Immich
        client_secret: "$${IMMICH_OAUTH_CLIENT_SECRET}"
        public: false
        consent_mode: implicit # explicit, implicit, auto/default, preconfigured
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris:
          - "https://photos.plexuz.xyz/auth/login"
          - "https://photos.plexuz.xyz/user-settings"
          - "https://photos.talos.plexuz.xyz/auth/login"
          - "https://photos.talos.plexuz.xyz/user-settings"
          - "app.immich:/"
        userinfo_signed_response_alg: none

      - client_id: kubernetes
        client_name: Kubernetes OIDC
        #client_secret: "$${SECRET_KUBERNETES_OAUTH_CLIENT_SECRET}"
        public: true
        consent_mode: implicit # explicit, implicit, auto/default, preconfigured
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        grant_types:
          - authorization_code
        # response_types:
        #   - code
        redirect_uris:
          - "http://localhost:8000"
          - "http://localhost:18000"
        userinfo_signed_response_alg: none

      - client_id: minio
        client_name: Minio
        client_secret: "$${MINIO_OAUTH_CLIENT_SECRET}"
        public: false
        consent_mode: implicit # explicit, implicit, auto/default, preconfigured
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "groups", "email"]
        redirect_uris:
          - "https://minio.int.plexuz.xyz/oauth_callback"
        userinfo_signed_response_alg: none

      - client_id: matrix-synapse
        client_name: Matrix Synapse
        client_secret: "$${MATRIX_SYNAPSE_OAUTH_CLIENT_SECRET}"
        public: false
        consent_mode: auto # explicit, implicit, auto/default, preconfigured
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "email"]
        redirect_uris:
          - "https://matrix.plexuz.xyz/_synapse/client/oidc/callback"
        userinfo_signed_response_alg: none

      - client_id: mealie
        client_name: Mealie Recipes
        # client_secret: "$${MEALIE_OAUTH_CLIENT_SECRET}"
        public: true
        consent_mode: auto # explicit, implicit, auto/default, preconfigured
        authorization_policy: one_factor
        pre_configured_consent_duration: 1y
        scopes: ["openid", "profile", "email", "groups"]
        pkce_challenge_method: S256
        require_pkce: true
        grant_types:
          - authorization_code
        redirect_uris:
          - "https://mealie.plexuz.xyz/login"
        userinfo_signed_response_alg: none
