---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrepository-source-v1.json
apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: netbird
  namespace: flux-system
spec:
  interval: 2h
  url: https://netbirdio.github.io/kubernetes-operator
