---
name: "Publish Terraform"

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths: ["infrastructure/terraform/**", "clusters/**/terraform/**"]

jobs:
  publish-infrastructure:
    name: Publish Infrastructure
    runs-on: ubuntu-latest
    permissions:
      packages: write
      id-token: write
    steps:
      - name: Generate Token
        uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: app-token
        with:
          app-id: "${{ secrets.BOT_APP_ID }}"
          private-key: "${{ secrets.BOT_APP_PRIVATE_KEY }}"

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          token: "${{ steps.app-token.outputs.token }}"

      - name: Setup Homebrew
        uses: Homebrew/actions/setup-homebrew@master

      - name: Setup Tools
        shell: bash
        run: brew install cosign fluxcd/tap/flux

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          registry: ghcr.io
          username: "${{ github.actor }}"
          password: "${{ secrets.GITHUB_TOKEN }}"

      - name: Generate tag
        id: generate-tag
        shell: bash
        run: echo "tag=ghcr.io/${{ github.repository_owner }}/manifests/infrastructure:$(git rev-parse --short HEAD)" >> "${GITHUB_OUTPUT}"

      - name: Publish manifests
        shell: bash
        run: |
          mkdir /tmp/terraform
          cp -r infrastructure/terraform/* /tmp/terraform
          for tf_dir in clusters/*/terraform/*; do
            cluster_name=$(basename "$(dirname "$(dirname "$tf_dir")")")
            terraform_folder_name=$(basename "$tf_dir")
            dest_dir="/tmp/terraform/${cluster_name}/${terraform_folder_name}"
            mkdir -p "$dest_dir"
            cp -r "$tf_dir"/* "$dest_dir"/
          done
          ls /tmp/terraform
          flux push artifact oci://${{ steps.generate-tag.outputs.tag }} \
              --path="/tmp/terraform" \
              --source="$(git config --get remote.origin.url)" \
              --revision="$(git branch --show-current)/$(git rev-parse HEAD)"

      - name: Tag manifests
        shell: bash
        run: flux tag artifact oci://${{ steps.generate-tag.outputs.tag }} --tag main
